version: '3'
services:
  minecraft-server:
    image: itzg/minecraft-server
    environment:
      - EULA=TRUE
      - MEMORY=8G
      - DIFFICULTY=normal
      - SERVER_NAME=KRADHOX-SERVER
      - TYPE=AUTO_CURSEFORGE
      - VERSION=1.16.5
      - CF_SLUG=roguelike-adventures-and-dungeons-2
      - CF_API_KEY='$2a$10$L/zpRJ7Y0V2sIdrPRyS13.K/ilZTVr7m2pENhbUgTG8aq/9rPP4/G'
      - RCON_PASSWORD=test
    ports:
      - "25565:25565"
    volumes:
      - ./data:/data