version: '3'
services:
  # downloader:
  #   image: curlimages/curl:latest
  #   user: root
  #   volumes:
  #     - ./downloads:/downloads
  #   entrypoint: sh -c "curl -o /downloads/RAD2-Serverpack-1.7.zip https://www.curseforge.com/api/v1/mods/572778/files/4777217/download"

  minecraft-server:
    image: itzg/minecraft-server:java8-multiarch
    # depends_on:
    #   - downloader
    environment:
      - EULA=TRUE
      - MEMORY=8G
      - DIFFICULTY=normal
      - SERVER_NAME=KRADHOX-SERVER
      - TYPE=CURSEFORGE
      - VERSION=1.16.5
      - CF_SERVER_MOD=/downloads/RAD2-Serverpack-1.7.zip
      - RCON_PASSWORD=test
    ports:
      - "25565:25565"
    volumes:
      - ./data:/data
      - ./downloads:/downloads
